#TestimonySection {
  min-height: 80vh;
  background-color: #0080ca;
  background-image: url("../../assets/img/testimony-section-bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10rem;
  border-radius: 25px;
}

@media screen and (max-width: 700px) {
  #TestimonySection {
    background-image: url("../../assets/img/testimony-section-bg-small.webp");
  }
}
