#TestimonySection {
  min-height: 80vh;
  background-color: #0080ca;
  background-image: url("../../assets/img/testimony-section-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 700px) {
  #TestimonySection {
    background-image: url("../../assets/img/testimony-section-bg-small.png");
  }
}
