#TestimonyItem {
  .card {
    border: none;
    border-radius: 25px;
    min-height: 21rem;
    .username {
      color: #0080ca;
    }
    .testimony-img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      padding: 40px;
    }
  }
}
