#DetailBanner {
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  background: url("../../assets/img/detail-banner-bg.jpg") center center
    no-repeat;
  background-size: cover;
  color: white;
}
