#DetailBanner {
  margin-top: 30px;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #0080ca;
  background-image: url("../../assets/img/detail-banner-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@media screen and (max-width: 700px) {
  #DetailBanner {
    background-color: #0080ca;
    background-image: url("../../assets/img/detail-banner-bg-small.jpg");
  }
}
