#PenilaianSection {
  background-color: #0080ca;
  padding-bottom: 100px;
  min-height: 70vh;
  background-image: url("../../assets/img/penilaian-section.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
